In [1]:
("Hello World")

'Hello World'

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
a = "Waleed"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
a = "Azmat Hameed"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
#ID Printing
azmat = 10
hameed = 15
print(id(azmat))
print(id(hameed))

140719042892896
140719042893056

In [1]:
5 + 8 #Operarion
#Operation
          # +, - ,/ , * , %, **
          # = , +=, -=, /=, *=, %=
          # ==, >, <, >=, <=
# 5 + 8 Oprands

13

In [2]:
#PEMDA
5 + 7 - 8 * (2/2) + 200
#5 + 7 - 8* 1 + 200
# 5 + 7 - 8 + 200
# 212 - 8
# 204

204.0

In [5]:
a = 8
b = 8
print(a)
print(b)

print(id(a))
print(id(b))

b += 1
print(id(a))
print(id(b))

8
8
140719174226976
140719174226976
140719174226976
140719174227008

In [6]:
a = 7
type(a)

int

In [11]:
#Integer
a = 15
type(a)

int

In [12]:
#Float
a = 30.5
type(a)

float

In [13]:
#Boolean
z = True
type(z)

bool

In [9]:
6 / 6

1.0

In [10]:
a = "1"
type(a)

str

In [11]:
a = '1'
type(a)

str

In [12]:
a = """1"""
type(a)

str

In [13]:
"1" + '1'

'11'

In [14]:
int("1") + int('1')

2

In [15]:
'1' + '8'

'18'

In [8]:
#String
x = 'Artificial Intelligence'
type(x)

str

In [16]:
'Azmat' + "Hameed" + "Mughal"

'AzmatHameedMughal'

In [19]:
int('150') + int("250")

400

In [20]:
d = 30
type(d)

int

In [17]:
z = "Pakistan"
z * 4

'PakistanPakistanPakistanPakistan'

In [24]:
k = 'PakistanZindabad'
k * 3

'PakistanZindabadPakistanZindabadPakistanZindabad'

In [19]:
#Index     0         1         2         3     4
names = ["Ikram", "Mughal", "Husnain", "Arfa", 350]
#Index      -5      -4         -3        -2    -1

print(type(names))
print(names)
print(names[3])

<class 'list'>
['Ikram', 'Mughal', 'Husnain', 'Arfa', 350]
Arfa

In [31]:
#index      0        1          2         3     4
names = ("Ikram", "Mughal", "Husnain", "Arfa", 350)
#Index     -5        -4         -3      -2     -1
print(type(names))

<class 'tuple'>

In [32]:
names ={"Ikram", "Mughal", "Husnain", "Arfa", 350}
print(type(names))

<class 'set'>

In [35]:
names = {"Ikram", "Mughal", "Husnain", "Arfa", 350}
names = list(names)

print(names[-3])

Mughal

In [21]:
data = {
    #Key   :  Value
    'name' :  "Azmat Hameed",
    'fname':  "Abdul Hameed Mughal",
    'name' :  "Faizan Tahir",
    'fname':  "Muhammad Tahir Anjum Mughal",
'Am'    "a" : [True, "Pakistan", 20, 30.0]
}
data['a']

[True, 'Pakistan', 20, 30.0]

In [22]:
a = "Azmat Hameed"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [24]:
a = "AzMaT HaMeEd"
print(a.upper())
print(a)

AZMAT HAMEED
AzMaT HaMeEd

In [25]:
a = "AzMaT HaMeEd"
a = a.upper()
print(a)

AZMAT HAMEED

In [26]:
a = "AzMaT HaMeEd"
print(a.lower())
print(a)

azmat hameed
AzMaT HaMeEd

In [27]:
a = "AzMaT HaMeEd"
print(a.title())

Azmat Hameed

In [28]:
a = "AzMaT HaMeEd"
print(a.capitalize())

Azmat hameed

In [29]:
a = "            AzMaT HaMeEd        "
a

'            AzMaT HaMeEd        '

In [30]:
a = "     AzMaT HaMeEd      "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

23
AzMaT HaMeEd
18

In [31]:
a = "       AzMaT HaMeEd        "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

27
AzMaT HaMeEd
20

In [32]:
b = a.split()
b

['AzMaT', 'HaMeEd']

In [33]:
" " .join(b)

'AzMaT HaMeEd'

In [34]:
a = "We are Pakistani and we love our Country"
a

'We are Pakistani and we love our Country'

In [36]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])
print(a[::-1])
print(a[6:15:])

We are Pakistani and we love our Country
We are Pakistani and we love our Country
yrtnuoC ruo evol ew dna inatsikaP era eW
 Pakistan

In [37]:
print(a)
print(a.index("love"))

We are Pakistani and we love our Country
24

In [40]:
a[a.index("Pakistan"):24]

'Pakistani and we '

In [43]:
a = "1245asd4545erefh454adfas785g"
" " .join([i for i in a if str.isnumeric(i)])

'1 2 4 5 4 5 4 5 4 5 4 7 8 5'

In [44]:
card = """
Bahria University Islamabad
Name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAIC
"""
print(card)

Bahria University Islamabad
Name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAIC

In [46]:
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

card = """
Bahria University Islamabad
name: %s
Farther's Name: %s
Program: %s
Score: %d
"""

print(card%(name, fname, program, s))

Bahria University Islamabad
name: Azmat Hameed
Farther's Name: Abdul Hameed Mughal
Program: PIAIC
Score: 300

In [47]:
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

card = f"""
Bahria Univeristy Islamabad
name: {name}
Father's Name: {fname}
Program: {program}\
Score: {s}
"""

print(card)

Bahria Univeristy Islamabad
name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAICScore: 300

In [49]:
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

card = """
Bahria Univeristy Islamabad
name: {}
Father's Name: {}
Program: {}
Score: {}
"""

print(card.format(name, fname, program, s))

Bahria Univeristy Islamabad
name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAIC
Score: 300

In [50]:
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

card = """
Bahria Univeristy Islamabad
name: {3}
Father's Name: {1}
Program: {2}
Score: {0}
"""

print(card.format(name, fname, program, s))

Bahria Univeristy Islamabad
name: 300
Father's Name: Abdul Hameed Mughal
Program: PIAIC
Score: Azmat Hameed

In [51]:
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

card = """
Bahria University Islamabad
name: {a}
Father's Name: {b}
Program: {c}
Score: {d}
"""
print(card.format(a=name, b=fname, c=program, d=s))

Bahria University Islamabad
name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAIC
Score: 300

In [52]:
"1" + "1"

'11'

In [55]:
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
s = 300

print("Bahria University Islamabad \nStudent Name"
     \
     + name+" \nFather's Name: "+fname+"\nProgram: "+program \
      + "nScore: " + str(s))

Bahria University Islamabad
Student NameAzmat Hameed
Father's Name: Abdul Hameed Mughal
Program: PIAICnScore: 300