In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [5]:
azmat = 5
hameed = 8

print(id(azmat))
#140727816524736

140727816524736

In [6]:
a = 7
type(a)

int

In [8]:
a = 20.7
type(a)

float

In [10]:
a = True
type(a)

bool

In [13]:
a = False
type(a)

bool

In [16]:
a = 'a1'
type(a)

str

In [18]:
"1" + '1'

'11'

In [19]:
int("1") + int('1')

2

In [20]:
a = 20
type(a)

int

In [21]:
a = "pakistan"
a * 2

'pakistanpakistan'

In [28]:
#Index      0      1        2       3
names = ["Ali", "Hamza", "Junaid", 200]
#Index     -4     -3       -2       -1
print(type(names))
print(names)
print(names[-2])

<class 'list'>
['Ali', 'Hamza', 'Junaid', 200]
Junaid

In [23]:
names = ("Ali", "Hamza", "Junaid", 200)
print(type(names))

<class 'tuple'>

In [37]:
names = {"Ali", "Hamza", "Junaid", 200, "Hamza"}
names = list(names)

print(names[1])

Junaid

In [43]:
data = {
    #key : value
    'name' : "Azmat Hameed",
    'fname': "Abdul Hameed Mughal",
    5      :  "Pakistan",
    "a"    :   [True, "Pakistan", 20, 3.0]
}

data['a']

[True, 'Pakistan', 20, 3.0]

In [44]:
a = "Azmat Hameed Mughal"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [45]:
a = "AZmAT HamEEd"
print(a.upper())
print(a)

AZMAT HAMEED
AZmAT HamEEd

In [46]:
a = "AZmAT HamEEd"
a = a.upper()
print(a)

AZMAT HAMEED

In [48]:
a = "AZmAT HamEEd"
a = a.lower()
print(a)

azmat hameed

In [49]:
a = "AzMaT HaMeEd"
a = a.capitalize()

print(a)

Azmat hameed

In [50]:
a = "               AzMaT  HaMeEd      "
a

'               AzMaT  HaMeEd      '

In [51]:
a = "               AzMaT  HaMeEd      "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

34
AzMaT  HaMeEd
19

In [52]:
a = "               AzMaT  HaMeEd      "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

34
               AzMaT  HaMeEd
28

In [53]:
a = "               AzMaT  HaMeEd      "
print(len(a))
print(a.strip())
print(len(a.strip()))

34
AzMaT  HaMeEd
13

In [54]:
b = a.split()
b

['AzMaT', 'HaMeEd']

In [59]:
" " .join(b)

'AzMaT HaMeEd'

In [60]:
a = "we are Pakistani aand we love our country"
a

'we are Pakistani aand we love our country'

In [64]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]

print(a)
print(a[::])
#Slicing
print(a[::-1])
print(a[7:15:])

we are Pakistani aand we love our country
we are Pakistani aand we love our country
yrtnuoc ruo evol ew dnaa inatsikaP era ew
Pakistan

In [65]:
#how to find index?
print(a)
print(a.index("Pakistan"))

we are Pakistani aand we love our country
7

In [66]:
a[a.index("Pakistan"):15]

'Pakistan'

In [67]:
str.isnumeric("5a")

False

In [82]:
#Concetination
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
score = 200

card = """
Bahria University Islamabad
name: %s
Father's Name: %s
Program : %s
Score:  %d
"""

print(card%(name, fname, program,score))

Bahria University Islamabad
name: Azmat Hameed
Father's Name: Abdul Hameed Mughal
Program : PIAIC
Score:  200

In [75]:
#How to extact numeric from the data?
a = "12adsfad1545sdfadfa484sdffaadsf5645a-3adf-4asdf-8adfad-6-8.08"

"".join([i for i in a if str.isnumeric(i)])

'12154548456453486808'

In [83]:
#Concetination
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
score = 200

card = """
Bahria University Islamabad
name: (name)
Father's Name: (fname)
Program : (program)
Score:  (score)
"""

print(card%(name,fname,program,score))

TypeError: not all arguments converted during string formatting

In [88]:
#Concetination
name = "Azmat Hameed"
fname = "Abdul Hameed Mughal"
program = "PIAIC"
score = 200

print("Bahria University Islamabad\nStudent Name" + name +"\nFatheer's Name: "+ fname +"\nProgram: "+ program+"\nScore: "+score+")

SyntaxError: EOL while scanning string literal (<ipython-input-88-1ebd3239def3>, line 7)

In [ ]:
#Faizan and Rauf

Assignment
We need to send all the work by applying all functions
git hub pay push krna hy and need to share the link to them.


All string data type methods:
    20 aperands with different operators.