# PIAIC Class 4 List_Tuple_Loop

In [ ]:
#        0    1    2
name = ["A", "B", "C"]
#        -3  -2   -1

print([2])
print([-1])

In [ ]:
len(dir(list))

In [ ]:
names = [] # empty list
names.append("A")
names.append("B")
names.append("C")
names.append(3)

#A, B, C, 3
names

In [ ]:
names = [] # empty list
names.append("A")
names.append("B")
names.append("C")
names.append(3)

#A, B, C, 3
a = input("enter value")
names.append(a)
names

In [ ]:
names = ["A", "B", "C"]
namees1 = names # Shalow copy

print("names",names)
print("names",names1)

names[0] = "Pakistan"

print("names", names)
print("names", names1)

In [ ]:
names = []

names.append("A")
names.append("B")
names.append("C")
names.append(3)

names

In [ ]:
names = ["A", "B", "C"]
print(names)
names.clear()
print(names)

In [ ]:
names = ["A", "B", "C"]

names1 = names # Shallow Copy

print("names", names)
print("names", names1)

names[0] = "PAkistan"

print("names", names1)
print("names", names)

In [ ]:
names = ["A", "B", "C"]

names1 = names.copy() # Deep Copy

print("names", names)
print("names", names1)

names[0] = "PAkistan"

print("names", names)
print("names", names1)

In [ ]:
names = ["A", "B", "C"]

names.count("A")

In [ ]:
names = ["A", "A", "A", "B", "C"]
names.count("A")

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
print([l1 + l2]) # inline Operation
print(l1._and_l2)

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

print(l1)
print(l2)
l1.extend(l2) # In Memory Operation

print(l1)
print(l2)

In [ ]:
l1 = ["A", "B", "C", 'A']
print(l1.index("B"))
print(l1.index('A'))
print(l1.index('A', 1))

In [ ]:
l1 = []
l1.insert(0,"A")
l1.insert(0,"B")
l1.insert(0,"C")
l1.insert(0,"D")

print(l1)
l1.insert(1,"E")
print(l1)

In [ ]:
names = ["A", "B", "C", "C", "D"]

names.pop() #Return
names.pop() # Return
names.pop() # Return

# A B
names

In [ ]:
names = ["A", "B", "C", "C", "D"]

del names[-1] #Return
del names[-1] # Return
del names[-1] # Return

# A B
names

In [ ]:
l1 = []
names = ["A", "B", "C", "C", "D"]

l1.append(del names[-1]) #Return
l1.append(del names[-1]) # Return
l1.append(del names[-1]) # Return

# A B
print(names)
print(l1)

In [ ]:
l1 = []
names = ["A", "B", "C", "C", "D"]
print(names)

a = names.pop()
l1.append(a) # Return

a = names.pop()
l1.append(a) # Return

a = names.pop()
l1.append(a) # Return

# A B
print(names)
print(l1)

In [ ]:
a = print("Pakistan")

print(a)

In [ ]:
l1 = [1,2,3,4]

a = l1.pop()
print(a)

In [ ]:
l1 = [1,2,3,4]

a = l1.pop(-2)
print(a)

In [ ]:
l1 = ["A", "B", "C", "D"]

a = l1.pop(2)
print(a)

In [ ]:
l1 = ["A", "B", "C", "D"]

a = l1.pop(l1.index("B"))
print(a)

In [ ]:
l1 = ["A", "B", "C", "D"]

a = l1.remove("B") # Non Return
print(a)

In [ ]:
l1 = ["A", "B", "C", "Z", "Y", "X"]
print(l1)

l1.reverse()
print(l1)

In [ ]:
l1 = ["A", "B", "C", "Z", "Y", "X"]
print(l1)

l1.sort()
print(l1)

In [ ]:
l1 = ["A", "B", "C", "Z", "Y", "X"]
print(l1)

l1.sort(reverse=True)
print(l1)

In [ ]:
names = []

names.append("Azmat")
names.append("Hashir")
names.append("Mohid")
names.append("Aariz")
print(names)

In [ ]:
names.clear()
print(names)

In [ ]:
l1 = [4,5,6]
l2 = [3,2,1]
l3 = [7,8,10]

print(l1.__eq__(l3))

# TUPLE

In [ ]:
l1 = ("!", "B", "C")

print(l1)

l1 = ("Pakistan", "B", "C")
print(l1)

# Loop (While, for)

# Cunter
# Logic
# Increment / Decrement

In [ ]:
# Counter
# Logic
# Increment / Decrement

In [ ]:
counter = 1 # Counter
while counter <=10: # Logic
    print(counter) # Logic
    counter +=1

In [2]:
for i in range(1,11):
    print("Pakistan", i)

Pakistan 1
Pakistan 2
Pakistan 3
Pakistan 4
Pakistan 5
Pakistan 6
Pakistan 7
Pakistan 8
Pakistan 9
Pakistan 10

In [12]:
for n in range(1,11):
    #print(2,"X",n,"=",n*2) 
    #print("2 X "+str(n)+"="+stf(n*2))
    print(f'4 X {n} = {n*4}')

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [17]:
for n in range(1,11):
    #print(2,"X",n,"=",n*2) 
    print("10 X "+str(n)+ "=" +str(n*10))
    #print(f'4 X {n} = {n*4}')

10 X 1=10
10 X 2=20
10 X 3=30
10 X 4=40
10 X 5=50
10 X 6=60
10 X 7=70
10 X 8=80
10 X 9=90
10 X 10=100

In [27]:
user_input = int(input("Enter Number"))

for t in range(1, user_input + 1):
    for n in range(1,11):
        print(f'{t} X {n} = {t*n}')

Enter Number5
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [30]:
user_input = int(input("Enter Number"))

for t in range(1, user_input + 1):
    for n in range(1,11):
        print(f'{t} X {n} = {t*n}', end='\t')

Enter Number5
1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	1 X 5 = 5	1 X 6 = 6	1 X 7 = 7	1 X 8 = 8	1 X 9 = 9	1 X 10 = 10	2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10	2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18	2 X 10 = 20	3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15	3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27	3 X 10 = 30	4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20	4 X 6 = 24	4 X 7 = 28	4 X 8 = 32	4 X 9 = 36	4 X 10 = 40	5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25	5 X 6 = 30	5 X 7 = 35	5 X 8 = 40	5 X 9 = 45	5 X 10 = 50

In [34]:
user = int(input("Enter Number"))

for t in range(1, 11):
    for n in range(1, user + 1):
        print(f'{t} X {n} = {t*n}', end='\t')
    print()

Enter Number5
1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	1 X 5 = 5
2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15
4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20
5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25
6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	6 X 5 = 30
7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	7 X 5 = 35
8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	8 X 5 = 40
9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36	9 X 5 = 45
10 X 1 = 10	10 X 2 = 20	10 X 3 = 30	10 X 4 = 40	10 X 5 = 50

In [35]:
user = int(input("Enter Number"))

for t in range(1, 21):
    for n in range(1, user + 1):
        print(f'{t} X {n} = {t*n}', end='\t')
    print()

Enter Number5
1 X 1 = 1	1 X 2 = 2	1 X 3 = 3	1 X 4 = 4	1 X 5 = 5
2 X 1 = 2	2 X 2 = 4	2 X 3 = 6	2 X 4 = 8	2 X 5 = 10
3 X 1 = 3	3 X 2 = 6	3 X 3 = 9	3 X 4 = 12	3 X 5 = 15
4 X 1 = 4	4 X 2 = 8	4 X 3 = 12	4 X 4 = 16	4 X 5 = 20
5 X 1 = 5	5 X 2 = 10	5 X 3 = 15	5 X 4 = 20	5 X 5 = 25
6 X 1 = 6	6 X 2 = 12	6 X 3 = 18	6 X 4 = 24	6 X 5 = 30
7 X 1 = 7	7 X 2 = 14	7 X 3 = 21	7 X 4 = 28	7 X 5 = 35
8 X 1 = 8	8 X 2 = 16	8 X 3 = 24	8 X 4 = 32	8 X 5 = 40
9 X 1 = 9	9 X 2 = 18	9 X 3 = 27	9 X 4 = 36	9 X 5 = 45
10 X 1 = 10	10 X 2 = 20	10 X 3 = 30	10 X 4 = 40	10 X 5 = 50
11 X 1 = 11	11 X 2 = 22	11 X 3 = 33	11 X 4 = 44	11 X 5 = 55
12 X 1 = 12	12 X 2 = 24	12 X 3 = 36	12 X 4 = 48	12 X 5 = 60
13 X 1 = 13	13 X 2 = 26	13 X 3 = 39	13 X 4 = 52	13 X 5 = 65
14 X 1 = 14	14 X 2 = 28	14 X 3 = 42	14 X 4 = 56	14 X 5 = 70
15 X 1 = 15	15 X 2 = 30	15 X 3 = 45	15 X 4 = 60	15 X 5 = 75
16 X 1 = 16	16 X 2 = 32	16 X 3 = 48	16 X 4 = 64	16 X 5 = 80
17 X 1 = 17	17 X 2 = 34	17 X 3 = 51	17 X 4 = 68	17 X 5 = 85
18 X 1 = 18	18 X 2 = 36	18 X 3 = 54	18 X 4 = 72	18 X 5 = 90
19 X 1 = 19	19 X 2 = 38	19 X 3 = 57	19 X 4 = 76	19 X 5 = 95
20 X 1 = 20	20 X 2 = 40	20 X 3 = 60	20 X 4 = 80	20 X 5 = 100